.container {
  display: flex;
  flex-direction: column;
}

.addForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #f2f3f5;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 20px;
  margin-top: 40px;
  margin-left: 40px;
}

.studentName {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.studentFirst {
  width: 45%;
}
.studentLast {
  width: 45%;
}

.studentName input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.parentName {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.parentName input {
  width: 45%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.parentEmail input {
  width: 45%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.omwork input {
  width: 45%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.products input {
  width: 45%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.parentEmail {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.resetPw {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.resetBtn {
  margin: 1rem;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #26303e;
  color: #6bb6c9;
  cursor: pointer;
}

.assign {
  margin: 2rem;
}

.products {
  margin: 2rem;
}

.saveStudentRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sendEmail {
  display: flex;
  flex-direction: row;
}

.sendEmail input {
  margin: 0.5rem;
}

.sendEmail label {
  margin: auto;
}

.saveBtn {
  margin: 1rem;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #26303e;
  color: #65bc7b;
  cursor: pointer;
}
