.background {
  height: 100vh;
  width: 100%;
  background-color: #212934;
}

.container {
  display: flex;
  flex-direction: column;
  /* margin: 6rem 10rem; */
  padding: 40px;
}

.student_info {
  display: flex;
  height: 80vh;
  padding: 3rem;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2rem 4rem;
  background-color: #fff;
}

.info_line {
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin-left: 3rem;
}

.info_line_title {
  font-weight: 700;
  margin-right: 10px;
  font-size: 1.2rem;
}

.assignment_box {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.asnmt_list {
  list-style: none;
}

.asnmt_list_item_title {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  font-size: 1.2rem;
}

.asnmt_name,
.asnmt_freq,
.asnmt_dur,
.asnmt_btns {
  width: 20%;
  padding: 5px;
}

.asnmt_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .asnmt_btn {
  width: 10%;
} */

.asnmt_list_item {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;
}

.previous_asnmts {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-top: 2rem;
}

.prev_asnmt_header {
  color: #008c95;
  font-size: 1.2rem;
}

.current_asnmt_header {
  font-size: 1.2rem;
  color: #61457f;
  margin-top: 1.5rem;
}
